<!DOCTYPE html>
<html ng-app="profileApp">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <script src="/d3/d3.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/js/profile.js"></script>
</head>

<body ng-controller="AppCtrl">
    <h1>Profile</h1>
    <div class="registerRepo">
        <h2>Register Your Project</h2>
        <form ng-submit="getCommitData()">
            Repo:
            <input ng-model="info.repo">
            <input type="submit" placeholder="Check Repo">
        </form>
        Repo:
        <span>{{info.repo}}</span>
        <br>Api:
        <span>{{info.repoApi}}</span>
        <br>
        <button ng-click="register()">Register this project on Makerspace</button>
    </div>
    <hr>
    <div class="participateIn">
        <h2>Participate In Other's Project</h2>
        <form ng-submit="participate">
            Repo URL:
            <input ng-model="other.repo">
            <input type="submit" placeholder="Participate!">
        </form>
    </div>
    <hr>
    <div class="gotoVis">
        <a href="/visual">Go to visualization page</a>
    </div>

    <!--<gh-visualization val="data"></gh-visualization>-->
</body>

</html>