<!-- TODO 
1. Simple bar graph, with (# of commits * 10) as the length
2. Use ng-switch to switch to different visualization
3. Add chat window
4. Print "New project xxx added by xxx" in the chat window
-->


<!DOCTYPE html>
<html ng-app="visualApp">

<head>
    <meta charset="utf-8">
    <title>Visualization</title>
    <script src="/d3/d3.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
    <script src="/js/visual.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/visual.css">    
</head>

<body ng-controller="MainCtrl">
    <header>
        <nav id="visualNav">
            <span id="backText">Back to Profile</span>
            <a href="/profile">
                <span class="fa fa-user" id="userIcon"></span>
            </a>
        </nav>
    </header>
    <div class="container">
        <center><h1>Visualization</h1></center> 
        <input ng-model="a" type="number">
        <input ng-model="b" type="number">
        <input ng-model="c" type="number">
        <input ng-model="d" type="number">                
        <button ng-click="changeData()">Change Data</button>
        <select ng-model="selection" ng-options="item for item in items"></select>
        <bar-graph data="data.test"></bar-graph>
    </div>
    <footer></footer>

</body>

</html>