html {
	font-size: 16px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

body {
	margin : 0;
	padding : 0;
	font-family: 'Roboto', sans-serif;
	font-size: 100%; /* 16 * 62.5% = 10 */
}

nav li a {
	margin: 0 auto;
	display: block;
	text-decoration: none;
	color : white;
	font-weight: 500;
}

nav {
	font-family: 'Roboto Slab';
	display : block;
	width : 100%;
	/*position : fixed;*/
	z-index : 100;
	padding: 0px;
	top : 0;
}

nav ul {
	margin: 0;
	list-style : none;
	padding-left: 0;
}

nav li {
	display : block;
	width : 25%; /* 100 / 4 */
	float : left;
	text-align: center;
	background-color: #bdc3c7;
	-webkit-transition: background-color .5s;
	transition : background-color .5s;
}

nav li:hover {
	background-color: tomato;
}

nav li a {
	-webkit-transition: color 1s;
	transition : color 1s;
}

nav li a:hover {
	color: #34495e;
}

#home a{
	color : #34495e;
	background-color: tomato;
}

.top_panel {
	height : 20%;
	width : 100%;
	padding : 0px;
	margin: 0px;

}

#logo {
	position : relative;
	float : left;
}

.login {
	color : orange;
	font-size: 3.6em;
	-webkit-transition : -webkit-transform 1s;
	transition : transform 1s;
}
.login:hover {
	-webkit-transform : rotate(360deg);	
	transform : rotate(360deg);
}


/*Top-right corner icon*/
#visualNav{
	width : 10em;
	font-size: .8em;
	position : fixed;
	top : 2%;
	right : 0;
}

#userIcon {
	font-size : 2em;
}

#backText {
	color : tomato;
	opacity : 0;
	-webkit-transition: opacity .5s;
	transition : opacity .5s;
}

#visualNav:hover #backText {
	opacity: 100;
}

#visualNav a:link, #visualNav a:visited {
	color : tomato; 
}
